<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
        <meta name="keywords" content="Fatjack">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Xavi Manyà Solsona">
        <title>Fatjack</title>
        <!--<link rel="icon" href="../static/imgs/favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <script type="text/javascript" src="../static/js/main.js"></script>-->
    </head>
    <body>
        <h1>Fatjack</h1>
        <table>
            <tr>
                
            </tr>
        </table>
    </body>
</html>
