<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
        <meta name="keywords" content="Fatjack, RL">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Xavi-Linux">
        <title>Fatjack</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <!--<link rel="icon" href="../static/imgs/favicon.png" type="image/x-icon">
        
        <script type="text/javascript" src="../static/js/main.js"></script>-->
    </head>
    <body>
        <header>
            <h1>Fatjack</h1>
        </header>
        <section>       
             <table>
            <tr>
    
            </tr>
        </table>
        </section>
        <footer>

        </footer>
    </body>
</html>
