@charset "utf-8";

text{
    font-size: 8px;
}
.chart {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
    min-height: 278px;
}
.chart-content {
    position: absolute;
    top: 5px;
    width: 95%;
    height: 100%;
}
.main-line {
   fill: none; 
   stroke: #800416;
   stroke-width: 2px;
}
.confidence {
    stroke-width: 1px;
    stroke: #d8946083 ;
    stroke-dasharray: 5,5;
    fill: #9078699e;
}
.grid line {
    stroke: #dddcdc;
    stroke-opacity: 0.7;
    stroke-width: 1px;
}
.grid path{
    stroke-width: 0;
}
.fancy-circle {
    stroke: none;
    fill: #001d7c;
}
.tooltip {
    background: linear-gradient(135deg, #000 75%, #7d7474 90%);
    position: absolute;
    border-radius: 5%/40%;
    opacity: 0.8;
    z-index: 1;
    max-width: 200px;
}
.tooltip div {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}
.tooltip div p {
    font-size: 8px;
}
@media only screen and (min-width: 768px) {
    text {
        font-size: 12px;
    }
    .chart {
        min-height: 400px;
    }
    .main-line {
        stroke-width: 3px;
     }
    .tooltip div p {
        font-size: 12px;
    }  
}